.home-page {

  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hero {
    background-color: #DDD9FF;
  
    img {
      width: 100%;
      height: auto;
      max-width: 1140px;
    }
  }
  
  .home-card {
    padding-top: 15px;
    padding-bottom: 15px;

    .card-img-bg {
      padding: 2rem 1rem;

      &.pf {
        background-color: #FFC0CF;
      }
      &.d {
        background-color: #DDD9FF;
      }
      &.i {
        background-color: rgba(158, 48, 209, 0.6);
      }
      &.po {
        background-color: rgba(255, 200, 44, 0.7);
      }
    }

    img {
      width: 100%;
      height: auto;
      max-width: 125px;
    }
  
    .btn-primary {
      background-color: #8F83FF;
      border-color: #8F83FF;
  
      &:hover {
        background-color: #6348FF;
        border-color: #6348FF;
      }
    }
  }

  .search-all {

    form {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
    }

    #search-input {
      width: 100%;
      border-radius: 0;
      border-top: none;
      border-right: none;
      border-left: none;
      border-color: #311E69;
    }

    .btn-link img {
      stroke: #8F83FF;
    }
  }
}
