.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    max-width: 45%;
    padding: 50px 20px;
  }
}

.influencer-analyze-button.btn-primary {
  padding: 0px 20px;
  margin: 0px 20px;
  background-color: #8F83FF;
}