.demographics-charts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    > div {
      max-width: 50%;
      padding: 50px 20px;
    }

    .loc {
      width: 100%;
    }
  }